body{
    background: #114870;
    background: -webkit-linear-gradient(171deg, rgba(17, 72, 112, 1) 0%, rgba(25, 69, 89, 0.75) 50%, rgba(15, 94, 133, 1) 100%);
    background: -moz-linear-gradient(171deg, rgba(17, 72, 112, 1) 0%, rgba(25, 69, 89, 0.75) 50%, rgba(15, 94, 133, 1) 100%);
    background: linear-gradient(171deg, rgba(17, 72, 112, 1) 0%, rgba(25, 69, 89, 0.75) 50%, rgba(15, 94, 133, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#114870", endColorstr="#0F5E85", GradientType=0);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
}

*{
    font-family: "Ubuntu", sans-serif;
}