header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1% 1.2%;
    height: 12vh;
    position: fixed;
    width: 100vw;
    background: rgba(17, 72, 112, 0.8);
}

header h1{
    font-family: "Anta", sans-serif;
    cursor: pointer;
}

header h1:active{
    transform: scale(0.95);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

nav span a{
    background: transparent;
    border: none;
    color: rgb(192, 203, 255);
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

nav span a:hover{
    color: rgb(215, 222, 255);
}

nav span a:focus, nav span a:active{
    color: white;
}

nav span a:active{
    transform: scale(0.95);
}

nav span a:focus{
    outline: none;
}