header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1% 2%;
    height: 12vh;
    position: fixed;
    width: 100vw;
    background: rgba(17, 72, 112, 0.935);
    z-index: 100;
}

header h1{
    font-family: "Anta", sans-serif;
    cursor: pointer;
}

header h1:active{
    transform: scale(0.95);
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.main-nav a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

.main-nav a:hover {
    color: #007bff; 
}

.main-nav a:active {
    transform: scale(0.95);
}