header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.5px 30px;
    box-sizing: border-box;
}

header h1{
    font-family: "Anta", sans-serif;
    cursor: pointer;
}

header h1:active{
    transform: scale(0.95);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

nav button{
    background: transparent;
    border: none;
    color: rgb(192, 203, 255);
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav button:hover{
    color: rgb(215, 222, 255);
}

nav button:focus, nav button:active{
    color: white;
}

nav button:active{
    transform: scale(0.95);
}

nav button:focus{
    outline: none;
}