main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    padding-top: 150px;
}

h1{
    font-family: "Tektur", sans-serif;
    font-size: 3rem;
    text-align: center;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

#home > h1{
    font-family: "Tektur", sans-serif;
    font-size: 3.8rem;
    margin: 0;
    margin-bottom: 50px;
    color: #003355;
}

#home h2:first-of-type{
    width: 60%;
}

#about > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5%;
}

#about > div > h3{
    width: 45%;
    font-family: "Anta", sans-serif;
    font-weight: normal;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-image{
    width: 385px;
    height: auto;
    border-radius: 15px;
}

img{
    width: 39.5vw;
}

#projects > p{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 15px;
    background: #3bc9ed;
    background: -webkit-linear-gradient(30deg, rgba(59, 201, 237, 0.8) 0%, rgba(87, 167, 199, 1) 50%, rgba(83, 227, 237, 0.8) 100%);
    background: -moz-linear-gradient(30deg, rgba(59, 201, 237, 0.8) 0%, rgba(87, 167, 199, 1) 50%, rgba(83, 227, 237, 0.8) 100%);
    background: linear-gradient(30deg, rgba(59, 201, 237, 0.8) 0%, rgba(87, 167, 199, 1) 50%, rgba(83, 227, 237, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3BC9ED", endColorstr="#53E3ED", GradientType=0);
    padding-top: 5%;
    padding-bottom: 12%;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-info{
    width: 42.5vw;
}

.project-links{
    align-self: flex-start;
    display: flex;
    gap: 20px;
    padding-left: 4.5%;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 1px;
}

.project-links a > span{
    background: #1187d6;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    gap: 12px;
}

.project-links a > span:hover{
    background: #0e6cb0;
    cursor: pointer;
}

.project-links a > span:active{
    background: #0c5a8f;
    transform: scale(0.95);
}

.project-links a{
    text-decoration: none;
    color: whitesmoke;
}

main > #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #0c5a8f;
    width: 35vw;
    padding: 15px;
    border-radius: 25px;
}

.contact-container > span{
    display: flex;
    gap: 12px;
    padding: 5px 12px;
}