main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
    padding-top: 97.5px;
}

h1{
    font-family: "Tektur", sans-serif;
    font-size: 3rem;
    text-align: center;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home > h1{
    font-family: "Tektur", sans-serif;
    font-size: 3.8rem;
    margin: 0;
    margin-bottom: 50px;
    color: #003355;
}

#home h2:first-of-type{
    width: 60%;
}

#about > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5%;
}

#about > div > h3{
    width: 45%;
    font-family: "Anta", sans-serif;
    font-weight: normal;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-image{
    width: 385px;
    height: auto;
    border-radius: 15px;
}